/* Стили для всего контейнера */
body, html {
    height: 100%; /* Устанавливаем высоту на 100% для корректного центрирования */
    margin: 0;
    padding: 0;
}

.container {
    display: flex; /* Используем flexbox для центрирования и размещения блоков в ряд */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    height: 100%; /* Занимаем всю высоту окна браузера */
}

/* Стили для прямоугольников */
.rectangle {
    background-color: #3498db; /* Цвет фона */
    margin: 10px; /* Отступ между прямоугольниками */
    flex-shrink: 0; /* Запрещаем сжатие прямоугольников */
}

/* Задаем размеры прямоугольников */
/* Размеры каждого следующего прямоугольника 70% от предыдущего */
/* Размер первого прямоугольника зависит от размеров окна браузера */
.rectangle:first-child {
    width: 100%;
    height: 100%;
}

/* Размеры остальных прямоугольников */
.rectangle:nth-child(2) {
    width: 70%;
    height: 70%;
}

.rectangle:nth-child(3) {
    width: 49%;
    height: 49%;
}

.rectangle:nth-child(4) {
    width: 34.3%;
    height: 34.3%;
}

.rectangle:nth-child(5) {
    width: 24.01%;
    height: 24.01%;
}
